In [9]:
import pandas as pd

In [14]:
# Create a DataFrame with dates and values
df = pd.DataFrame({'Data': [ '2022-12-31', 
                             '2022-09-30', 
                             '2022-06-30', 
                             '2021-03-31',
                             '2021-12-31', 
                             '2021-09-30', 
                             '2021-06-30', 
                             '2021-03-31',
                             '2020-12-31', 
                             '2020-09-30', 
                             '2020-06-30', 
                             '2020-03-31',],                   
                   'Receita': [ 10, 15, 20, 25, 
                                30, 35, 40, 45, 
                                50, 55, 60, 65]})

df

          Data  Receita
0   2022-12-31       10
1   2022-09-30       15
2   2022-06-30       20
3   2021-03-31       25
4   2021-12-31       30
5   2021-09-30       35
6   2021-06-30       40
7   2021-03-31       45
8   2020-12-31       50
9   2020-09-30       55
10  2020-06-30       60
11  2020-03-31       65

In [11]:
# Convert the 'Data' column to datetime format
df['Data'] = pd.to_datetime(df['Data'])

 # Create a new column 'Quarter' to store the quarter corresponding to each date
df['Trimestre'] = df['Data'].dt.quarter

# Group the data by quarter and calculate the mean of each group
medias_trimestrais = df.groupby('Trimestre')['Receita'].mean()

# Replace the original DataFrame data with the quarterly averages
df = pd.DataFrame({
    'Trimestre': medias_trimestrais.index,
    'Receita': medias_trimestrais.values
})

df

   Trimestre  Receita
0          1     45.0
1          2     40.0
2          3     35.0
3          4     30.0

In [13]:

verify = pd.Series([
    (25+45+65)/3,  # 1st quarter average between each year
    (20+25+60)/3,  # 2nd quarter average between each year
    (15+35+55)/3,  # 3rd quarter average between each year
    (10+30+50)/3   # 4th quarter average between each year

])

# Imprime as m√©dias trimestrais calculadas manualmente
print('\nQuarterly averages calculated manually:') 
verify

Quarterly averages calculated manually:

0    45.0
1    35.0
2    35.0
3    30.0
dtype: float64