In [6]:
import pandas as pd

In [7]:
# Cria um dataframe de exemplo
df = pd.DataFrame({'Data': ['2022-01-01', 
                            '2022-02-01', 
                            '2022-03-01', 
                            '2022-04-01',
                            '2022-05-01', 
                            '2022-06-01', 
                            '2022-07-01', 
                            '2022-08-01',
                            '2022-09-01', 
                            '2022-10-01', 
                            '2022-11-01', 
                            '2022-12-01'],
                   'Valor': [10, 15, 20, 
                             25, 30, 35, 
                             40, 45, 50, 
                             55, 60, 65]})
df

          Data  Valor
0   2022-01-01     10
1   2022-02-01     15
2   2022-03-01     20
3   2022-04-01     25
4   2022-05-01     30
5   2022-06-01     35
6   2022-07-01     40
7   2022-08-01     45
8   2022-09-01     50
9   2022-10-01     55
10  2022-11-01     60
11  2022-12-01     65

In [11]:
# Converte a coluna 'Data' para o formato datetime
df['Data'] = pd.to_datetime(df['Data'])

# Cria uma nova coluna 'Trimestre' para armazenar o trimestre correspondente a cada data
df['Trimestre'] = df['Data'].dt.quarter

# Agrupa os dados por trimestre e calcula a média de cada grupo
media_trimestral = df.groupby('Trimestre')['Valor'].mean()

# Imprime a média trimestral
print(media_trimestral)

Trimestre
1    15.0
2    30.0
3    45.0
4    60.0
Name: Valor, dtype: float64

In [9]:
# Cria um dataframe de exemplo
df2 = pd.DataFrame({'Data': 
                    ['2022-12-31', 
                     '2022-09-30', 
                     '2022-06-30', 
                     '2021-03-31',
                     '2021-12-31', 
                     '2021-09-30', 
                     '2021-06-30', 
                     '2021-03-31',
                     '2020-12-31', 
                     '2020-09-30', 
                     '2020-06-30', 
                     '2020-03-31',],
                   
                   'Valor': 
                   [10, 15, 20, 25, 
                    30, 35, 40, 45, 
                    50, 55, 60, 65]})
df2

          Data  Valor
0   2022-12-31     10
1   2022-09-30     15
2   2022-06-30     20
3   2021-03-31     25
4   2021-12-31     30
5   2021-09-30     35
6   2021-06-30     40
7   2021-03-31     45
8   2020-12-31     50
9   2020-09-30     55
10  2020-06-30     60
11  2020-03-31     65

In [12]:
# Converte a coluna 'Data' para o formato datetime
df2['Data'] = pd.to_datetime(df2['Data'])

# Cria uma nova coluna 'Trimestre' para armazenar o trimestre correspondente a cada data
df2['Trimestre'] = df2['Data'].dt.quarter

# Agrupa os dados por trimestre e calcula a média de cada grupo
media_trimestral = df2.groupby('Trimestre')['Valor'].mean()

# Imprime a média trimestral
media_trimestral

Trimestre
1    45.0
2    40.0
3    35.0
4    30.0
Name: Valor, dtype: float64